* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1.5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/* scrollbar {
    overflow-y: hidden;
} */

header {
    height: 50vh;
    background: url(/assets/img/Illustration-abstrait.webp) no-repeat center;
    background-size: 80vh;
}

nav {
    background-color: #4FAECC;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    position: fixed;
    z-index: 1;
}

nav > img {
    height: 6vh;
    padding: 0.5vh;
    padding-left: 20px;
}

#icon {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    padding-top: 1vh;
    padding-right: 20px;
    border: none;
    background-color:transparent;
}

#icon > span {
    display: block;
    height: 5px;
    width: 40px;
    background-color: white;
    margin: 5px;
}

#menuBurger {
    position: absolute;
    background-color: #4FAECC;
    width: 100%;
    text-align: center;
    top: 7vh;
    border-radius: 0 0 25px 25px;
    transition: transform 0.6s ease-in-out;
    z-index: -1;
    overflow: hidden;
}

#menuBurger li {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4%;
    text-decoration: overline;
}

#presentation {
    padding: 8%;
}

#presentation > h1, mark {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 16vh;
    padding: 15px;
    border-left: white dashed 2px;
    width: 215px;
    line-height: 2rem;
}

mark {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 1%;
}

#presentation > h2 {
    font-size: 0.9rem;
    margin-top: 118px;
    text-align: right;
    letter-spacing: 1.5px;
}


main {
    height: 100vh;
    width: 100%;
    background: url(/assets/img/backgroundpois.png) scroll center;
    background-size: 70vh;
}

#alerte {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #4FAECC;
    padding: 2%;
}


#courriers {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#enveloppeCv {
    height: 200Px;
    width: 300px;
    background-color: #DAA14C;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.lettre {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
}

.lettre > p {
    text-align: center;
    font-size: 1rem;
    margin-top: 30px;
    color: black;
}

.enveloppe {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #EBEFF1;
    border-bottom: 100px solid #EBEFF1;
    border-left: 150px solid #EBEFF1;
    z-index: 3
}

.plis {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 150px solid #EBEFF1;
    border-bottom: 100px solid #EBEFF1;
    border-left: 150px solid #EBEFF1;
    transform-origin: top;
}

.plis.Un {
    border-top: 100px solid #DAA14C;
    transform: rotateX(0deg);
    z-index: 3;
}

.plis.Deux {
    border-top: 100px solid #DAA14C;;
    transform: rotateX(90deg);
    z-index: 1;
}

#enveloppeCv:hover .plis.Un{
    transform: rotateX(90deg);
}

#enveloppeCv:hover .plis.Deux {
    transform: rotateX(180deg);
}


footer {
    background-color: #4FAECC;
    height: 7vh;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 0 0;
}

footer > a:visited, footer > a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 0.85rem;
}



