* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1.5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/* scrollbar {
    overflow-y: hidden;
} */

header {
    height: 50vh;
    background: url(/assets/img/Illustration-abstrait.webp) no-repeat center;
    background-size: 80vh;
}

nav {
    background-color: #4FAECC;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 25px 25px;
    position: fixed;
    z-index: 1;
}

nav > img {
    height: 6vh;
    padding: 0.5vh;
    padding-left: 20px;
}

#icon {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    padding-top: 1vh;
    padding-right: 20px;
    border: none;
    background-color:transparent;
}

#icon > span {
    display: block;
    height: 5px;
    width: 40px;
    background-color: white;
    margin: 5px;
}

#menuBurger {
    position: absolute;
    background-color: #4FAECC;
    width: 100%;
    text-align: center;
    top: 7vh;
    border-radius: 0 0 25px 25px;
    transition: transform 0.6s ease-in-out;
    z-index: -1;
    overflow: hidden;
}

#menuBurger li {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4%;
    text-decoration: overline;
}

#presentation {
    padding: 8%;
}

#presentation > h1, mark {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 16vh;
    padding: 15px;
    border-left: white dashed 2px;
    width: 215px;
    line-height: 2rem;
}

mark {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 1%;
}

#presentation > h2 {
    font-size: 0.9rem;
    margin-top: 118px;
    text-align: right;
    letter-spacing: 1.5px;
}


main {
    height: 100vh;
    background: url(/assets/img/backgroundpois.png) scroll center;
    background-size: 70vh;
}

#alerte {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #4FAECC;
    padding: 2%;
}

footer {
    background-color: #4FAECC;
    height: 7vh;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 0 0;
}

footer > a:visited, footer > a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 0.85rem;
}
